{% extends 'seleccion/base.html' %}

{% block content %}
    <br><br>
	<h1>Editar Futbolista</h1>
    {% if futbolista %}
    <a class="btn btn-default" href="{% url 'seleccion:delete' pk=futbolista.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
    {% endif %}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        	{{ form.as_p }}
        <button type="submit" class="save btn btn-default">Guardar</button>
    <br><br><br><br><br><br>
    </form>
{% endblock %}